@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 248 250 252;
  --foreground: 15 23 42;
}

.dark {
  --background: 2 6 23;
  --foreground: 226 232 240;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
}

::selection {
  background-color: rgba(11, 31, 79, 0.2);
}
